<!DOCTYPE html>
<html>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <body>
        <div id="fb-root"></div>
         <nav class="indigo lighten-1">
             <div class="nav-wrapper"><font size="+2">Dashboard</font></div>
  </nav>
   <div class="col-xs-12 col-md-6">
   <h2 style="text-align:center;margin-top:5%">Pass the Buck</h2>
   <h5 style="margin-left:30%;margin-top:3%">Experience social investing with Rang De </h5>
    <form action="http://127.0.0.1:8000/new/" method="get">
    <div class="row">
        <div class="input-field col s12">
		
          <input id="username" type="text" class="validate" name="name">
          <label for="username">Username</label>
        </div>
      </div>
   <div class="row">
		  <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="mail">
          <label for="email">Email</label>
        </div>
		</div>
      <div class="row">
        <div class="input-field col s12">
          <input id="amount" type="number" class="validate">
          <label for="amount">Amount</label>
        </div>
      </div>
          <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
      </form>
   </div>
    <div class="col-xs-12 col-md-6">
        <div class="row" style="margin-left:2vw;margin-top:4vw;">
             <img src="img/header.jpg" align="middle">
                 </div>
				 </div>
        <div class="share" align="right">
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https://www.google.co.in&layout=button_count&size=large&mobile_iframe=true&width=105&height=28&appId" width="105" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        <div class="borrowers">
            <h1 style="text-align:center;margin-top:3%">Borrowers</h1>
            <div class="borrowerslist" style="margin-left:5%;font-family:Roboto Condensed;font-size:40px;">
                I'm Nikhil I invested amount in 
            </div>
        </div>
    </body>
</html>